# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor config
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini
